Maria/
Meetings/
Bibliography/CarpetaAlexSanchez/Word/
.Rproj.user

Work/.Rhistory
Memoria/Memoria.alg
Memoria/Memoria.blg
Memoria/Memoria.glg
Memoria/Memoria.gls
Memoria/Memoria.log
Memoria/Memoria.synctex.gz
Memoria/Memoria.fdb_latexmk
Memoria/Memoria.bcf
