Maria/
Meetings/
Bibliography/CarpetaAlexSanchez/Word/
.Rproj.user

Work/.Rhistory
Memoria/Memoria.acn
Memoria/Memoria.acr
Memoria/Memoria.alg
Memoria/Memoria.aux
Memoria/Memoria.bbl
Memoria/Memoria.bbl-SAVE-ERROR
Memoria/Memoria.bcf
Memoria/Memoria.blg
Memoria/Memoria.fdb_latexmk
Memoria/Memoria.fls
Memoria/Memoria.glg
Memoria/Memoria.gls
Memoria/Memoria.ist
Memoria/Memoria.lof
Memoria/Memoria.log
Memoria/Memoria.lot
Memoria/Memoria.synctex.gz
Memoria/Memoria.run.xml
Memoria/Memoria.synctex.gz
Memoria/Memoria.toc
Memoria/Memoria.xdy

*.DS_Store
Memoria/C2geDP8QII
Memoria/2ItarE42UE
Memoria/pKo7Z_9R56
Memoria/Nxu6aWjYWb
Memoria/Memoria.glo
Work/vignettes/Rplots.pdf
Work/vignettes/_targets/meta/meta

Rplots.pdf
Memoria/NKJQbIyGZ1
Memoria/xnK7fhTsCu
Memoria/For my master thesis i developed an R pa.txt
Memoria/Memoria.xdv
pyvenv.cfg
bin
lib
lib64
